h1<!--Set Color.Define text centered-->
{
    color:rgbrgb(232, 84, 15);
    text-align:center;
    
}
body<!--Set Color-->
{
	background-color:rgb(224, 214, 121);
}
h3<!--Set Color-->
{
    color:rgb(232, 84, 15);
   
    
}
h2<!--Set Colorg-->
{
    color:rgb(139, 23, 168);
   
    
}
