h1<!--Set Color.Define text centered-->
{
    color:rgb(130, 183, 44);
    text-align:center;
    
}
body<!--Set Color-->
{
	background-color:rgb(224, 214, 121);
}
h3<!--Set Color-->
{
    color:rgb(165, 186, 138);
   
    
}
h2<!--Set Colorg-->
{
    color:rgb(139, 23, 168);
   
    
}